@{
    ViewData["Title"] = "Sobre este projeto";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <!--col-md-4-->
    <div class="col-md-6">
        <h2>Projeto Universidade</h2>
        <p>
            O Projeto universidade nada mais é do que é uma aplicação exemplo que
            demonstra como usar o Entity Framework Core em uma
            aplicação ASP.NET Core MVC web application.

            <br /><br />
            Esta aplicação foi feita seguindo o tutorial do site :
            <a href="http://www.macoratti.net/" target="_blank">Web site</a>
            <a href="http://www.macoratti.net/17/04/aspcore_mvcef1.htm" target="_blank">Link do tutorial</a>

            <br /><br />
            Muito obrigado Macoratti por disponibilizar conteúdo de extrema qualidade e totalmente gratuito!

        </p>
    </div>
    <div class="col-md-6">
        <h2>Baixe o projeto completo</h2>
        <p>Você pode baixar o projeto completo do GitHub.</p>
        <p><a class="btn btn-info" href="https://github.com/diegomontania/ProjetoUniversidade" target="_blank">Veja o código fonte do projeto &raquo;</a></p>
    </div>
</div>

<p>
    Projeto de estudo - Não deve ser utilizado em uma aplicação comercial.
    Pode conter brechas de segurança e outros problemas não mapeados.
</p>