@{
    ViewData["Title"] = "Sobre este site";
}
<h1>@ViewData["Title"]</h1>

<p>Projeto de estudo - Não deve ser utilizado em uma aplicação comercial. 
   Pode conter brechas de segurança e outros problemas não mapeados.</p>
