@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Projeto Universidade - Projeto de estudo utilizando ASP.NET Core MVC e Entity Framework Core.</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem-vindo ao Projeto Universidade!</h2>
        <p>
            O Projeto universidade nada mais é do que é uma aplicação exemplo que
            demonstra como usar o Entity Framework Core em uma
            aplicação ASP.NET Core MVC web application.

            <br /><br />
            Esta aplicação foi feita seguindo o tutorial do site : http://www.macoratti.net/

            <br /><br />
            Mais especificamente neste link : http://www.macoratti.net/17/04/aspcore_mvcef1.htm

            <br /><br />
            Muito obrigado Macoratti por disponibilizar conteúdo de extrema qualidade e totalmente gratuito!

            <br /><br />
            Diego Montania.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Construindo deste o início</h2>
        <p>Você pode criar a aplicação seguindo os seguintes passos nesta série de tutoriais.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Veja o tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Baixe o projeto completo</h2>
        <p>Você pode baixar o projeto completo do GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/diegomontania/ProjetoUniversidade">Veja o código fonte do projeto &raquo;</a></p>
    </div>
</div>
